// Body
$body-bg: #F0F9FA;

// Typography
// $font-family-sans-serif: 'Dongle', sans-serif;
// $font-family-sans-serif: 'Varela Round', sans-serif;
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #484D78;
// $enable-responsive-font-size: true;

